.aod-multi-step-wrap {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 11px;
}
.aod-multi-step-progress {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
}
.aod-multi-step-progress li {
    width: 130px;
    text-align: center;
    position: relative;
    text-align: center;
}
.aod-multi-step-progress strong {
    display: block;
    padding-top: 8px;
}
.aod-multi-step-progress li::before {
    content: '';
    position: absolute;
    top: 26px;
    left: 0;
    width: 100%;
    height: 2px;
    background: lightgray;
    z-index: -3;
}
.aod-multi-step-progress li i {
    display: block;
    fill: #2271b1;
}
.aod-svg {
    font-size: 25px;
}
.aod-svg svg {
    width: 1em;
    height: 1em;
    line-height: 0;
}

.aod-multi-step-progress li i {
    fill: #fff;
    width: 50px;
    height: 50px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}
.aod-multi-step-count {
    font-weight: 600;
}
.aod-setting-btns .aod-setting-btn {
    margin-top: 11px;
}
.aod-multi-step-progress li.active i,
.aod-multi-step-progress li.active::before {
    background: #2271b1;
}
.aod-multi-step-progress li.active strong {
    color: #2271b1;
}
.aod-multi-step {
    display: none;
}
.aod-multi-step.active {
    display: block;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.img-replace {
  /* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.aod-popup-trigger {
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  margin: 3em auto;
  text-align: center;
  color: #FFF;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 50em;
  background: #35a785;
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.07);
}
@media only screen and (min-width: 1170px) {
  .aod-popup-trigger {
    margin: 6em auto;
  }
}

/* -------------------------------- 

xpopup 

-------------------------------- */
.aod-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94, 110, 141, 0.9);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.aod-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.aod-popup-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 4em auto;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.aod-popup-container p {
  padding: 3em 1em;
}
.aod-popup-container .aod-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.aod-popup-container .aod-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.aod-popup-container .aod-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.aod-popup-container .aod-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 .25em;
}
.no-touch .aod-popup-container .aod-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.aod-popup-container .aod-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 .25em 0;
}
.no-touch .aod-popup-container .aod-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.aod-popup-container .aod-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.aod-popup-container .aod-popup-close::before, .aod-popup-container .aod-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.aod-popup-container .aod-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}
.aod-popup-container .aod-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .aod-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .aod-popup-container {
    margin: 8em auto;
  }
}